<!-- <p>page works!</p> -->

<h1 class="my-5 display-5 fw-bold ls-tight text-center" style="color: hsl(218, 81%, 95%)">

    <br />

     <span style="color: hsl(218, 81%, 75%)">Friend</span>

   </h1>

   
<p> A person is acquainted with many persons in their 
    life. However, the closest ones become our friends. You may have a large friend circle in 
    school or college, but you know you can only count on one or two people with whom you share 
    true friendship.There are essentially two types of friends, one is good friends the other are true
     friends or best friends. They’re the ones with whom we have a special bond of love and affection. 
     In other words, having a true friend makes our lives easier and full of happiness.Most importantly,
     true friendship stands for a relationship free of any judgments. In a true friendship, a person can
     be themselves completely without the fear of being judged. It makes you feel loved and accepted. 
     This kind of freedom is what every human strives to have in their lives.
      In short, true friendship is what gives us reason to stay strong in life.
       Having a loving family and all is okay but you also need true friendship to
        be completely happy. Some people don’t even have families but they have friends 
        who’re like their family only. Thus, we see having true friends means a lot to everyone.</p>
   